//@extend-elements
%extend1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

html {
    @extend %extend1;
}
@media only screen and (max-width: 500px) {
    #chart {
      position: relative;
      top: 4px;
      left: 196px;
    }
    .context{
        overflow-x:hidden;
    }
}

body {
    @extend %extend1;
    font-family: $font1;
    @include font-rem($doc-font-size);
    color: $color_tuatara;    
    background-image: url("assets/img/stardust.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    @media #{$small} {
        background-image: none !important;
        background: $white;
    }
}

.context{
    padding:0px 16px 0px 24px;
}
p{
    font-family: $font3;
}
.aboutme{
    text-decoration:none;
}

* {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

.header {
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 0px;
    text-align: left;
    color: $white;
    @media #{$small} {
        display: block !important;
    }
    @media only screen and (max-height: 500px) {
        display: block !important;
    }
}

.bazar {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
}


.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    width: 36rem;
    max-width: 550px;
    padding-right: 15px;
    padding-left: 15px;
    @include center-block();
    background-color: $white;
    color: $color_shark;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba($color_shark, 0.3);
    @include transition(.5s);
    @media #{$small} {
        width: 100%;
        box-shadow: none;
    }
    @media #{$medium} {
        width: 80%;
    }
}

.row {
    margin-top: 15px;
    text-align: center;
        .title {
        margin-top: 0;
        margin-bottom: 5px;
    }
    @media #{$small} {
        padding: 0 1em;
    }
}

.wrapper {
    width: 75%;
    max-width: 850px;
    margin: 4rem auto;
    background: $white;
    color: $color_tuatara;
    padding: 2em;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba($color_shark, 0.3);
    @include transition(.5s);
    @media #{$small} {
        width: 90%;
        padding: 2em 0;
        box-shadow: none;
    }
}

#disqus_thread {
    width: 75%;
    max-width: 850px;
    margin: -3rem auto 4rem;
    background: $white;
    color: $color_tuatara;
    padding: 2em;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba($color_shark, 0.3);
    @include transition(.5s);
    @media #{$small} {
        width: 90%;
        padding: 2em 0;
        box-shadow: none;
    }
}

// entry meta
.entry-meta {
    @include font-rem(12);
    text-transform: uppercase;
    color: lighten($color_tuatara, 60);
    padding-left: 0;
    a {
        color: lighten($color_tuatara, 60);
    }
    li {
        list-style-type: none;
        display: inline;
    }
    .tag {
        display: inline-block;
        border: 1px solid;
        border-color: rgba($color_mercury, 0.5) rgba($color_bon_jour, 0.5) $color_mischka;
        @include rounded(3px);
        text-decoration: none;
        background-color: $white;
        color: $color_tuatara;
        @include transition(.75s);
        margin: 2px 5px;
        span {
            float: left;
            padding: 2px 6px;
        }
        .count {
            background-color: darken($white, 15);
            @include border-radius(3px,
            3px,
            0,
            0);
        }
        &:hover {
            background-color: darken($white, 15);
            box-shadow: 0 0 1px 0 rgba($color_shark, 0.5);
        }
    }
}

header .entry-meta {
    display: none; // hide header meta on small screens
    @media #{$notsmall} {
        display: block;
    }
}

.entry-title a {
    text-decoration: none;
}

.entry-tags {
    display: block;
    margin-top: 1rem;
    width: 70%;
    float: left;
    text-align: left;
}

.social-share {
    display: block;
    margin-top: 1rem;
    width: 30%;
    float: right;
    text-align: right;
}

.feature {
    @include transition(.5s);
    @media #{$small} {
        background-image: none !important;
    }
    @media #{$medium} {
        color: white;
        padding: 4em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
    @media #{$notsmall} {
        color: white;
        padding: 10em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
}




.home-h1 {
  display: inline-block;
    color: #242424;
    /* font-family: 'Righteous', serif; */
    font-size: 2em;
    text-shadow: 0.03em 0.03em 0 #b4b4b2;
  }
  .home-h1:after  {
    content: attr(data-shadow);
    position: absolute;
    top: 7.6em;
    left: 7.96em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(45deg, transparent 45%, #ebe9e0 45%, #ebe9e0 55%, transparent 0);
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }


/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  direction:ltr;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 295px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 295px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: rgb(255,255,255);
    z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}

}

